.sidebar__container {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0rem 2rem 2rem 2rem;
  scrollbar-width: none;
}

.sidebar__header {
  position: sticky;
  top: 0rem;
  margin-left: 1rem;
  padding: 2rem 0rem;
  background-color: white;
}

.sidebar__header h1 {
  color: rgb(39, 39, 39);
  font-weight: 700;
}

.sidebar__header h3 {
  color: rgb(87, 87, 87);
  font-weight: 100;
}

.sidebar__container > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.sidebar__list {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.sidebar__list :nth-child(1) {
  color: rgb(39, 39, 39);
  font-size: 1.6rem;
}

.sidebar__list :nth-child(2) {
  color: rgb(71, 71, 71);
  font-size: 1.4rem;
}

.sidebar__list:hover {
  background-color: rgb(231, 231, 231);
  border-radius: 9px;
}

@media screen and (max-width: 1200px) {
  .sidebar__container {
    margin: 1rem 0rem;
    padding: 0rem 1rem 1rem 1rem;
  }

  .sidebar__header {
    padding: 1rem 0rem;
  }

  .sidebar__header h1 {
    font-size: 1.8rem;
  }

  .sidebar__header h3 {
    font-size: 1.2rem;
  }

  .sidebar__container > div {
    gap: 1rem;
    padding: 1rem;
  }

  .sidebar__list {
    padding: 0.5rem;
  }

  .sidebar__list :nth-child(1) {
    font-size: 1.4rem;
  }

  .sidebar__list :nth-child(2) {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 700px) {
  .sidebar__container {
    margin: 1rem 0rem;
  }

  .sidebar__header h1 {
    font-size: 1.6rem;
  }

  .sidebar__header h3 {
    font-size: 1rem;
  }

  .sidebar__list :nth-child(1) {
    font-size: 1.2rem;
  }

  .sidebar__list :nth-child(2) {
    font-size: 1rem;
  }

  .sidebar__container {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0rem 0rem 0rem 1rem;
  }
}
